/* =Elements
-------------------------------------------------------*/
body { 
	font-size: 12px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-style:normal; 
	font-variant:normal; 
	color: #333;
	}

* { 
	margin: 0; 
	padding: 0; 
	}
	
h2 { 
	font-size: 19px; 
	font-weight: normal; 
	color: #000; 
	font-weight:bold; 
	padding:10px 0 20px 0;
	}

h3 { 
	margin: 20px 0 7px 0; 
	font-size: 16px; 
	position:relative;
	}

p { 
	margin: 7px 0 11px 0; 
	line-height:1.4em;
	}

#barometer_page {
 	padding: 10px 15px 0px 20px; 
	background: #EEE; 
	overflow:hidden;
 	border-bottom: solid 2px #000; 
	border-right: solid 2px #000; 
	border-left: solid 2px #000;
	-moz-border-radius:0px 0px 8px 8px;
}

#barometer_page h2#barometer_title {
	padding:10px 0 7px 0 !important;
	}

/* =Form styling
-------------------------------------------------------*/

input, textarea {
	padding:5px; 
	font-size:14px; 
	width:98%;
	}

input[type=text], textarea {
	border:1px solid #A8A8A8; 
	background: #FBFBFB; 
	}

.buttonsubmit { 
	margin: 5px 0 0 3px; 
	width: auto; 
	float:right; 
	padding: 0px 5px; 
	}

/* =Icon span styles
-------------------------------------------------------*/

span#submit {
	padding:5px 0 1px 30px; 
	background: transparent url(../images/medium_load.gif) no-repeat 0 3px;
	}

span#success {
	padding:5px 0 2px 28px; 
	background: transparent url(../images/nice_check.png) no-repeat 0 3px;
	}

span#error {
	padding:5px 0 0 28px; 
	background: transparent url(../images/error.png) no-repeat 0 2px;
	}
				
/* =Success screen
-------------------------------------------------------*/

span.success_option_return {
	font-size:15px;
	}
a.success_option_more {
	font-size:12px;
	}